body {
  background: linear-gradient(180deg, #EA9FA0,#A69FEA);
  color:#A374AF;
  min-height: 100vh;
  margin: 0;
  font-family: "Radio Canada", sans-serif;
}


.box {
  background: white;
  border: 1px solid #A374AF;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.box2 {
  background: white;
  border: 1px solid #A374AF;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


#age_table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

p + p {
  margin-top: 1em;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #A374AF;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: #A374AF;
}

.btn-purple {
  background-color: #A374AF;
  border-color: #A374AF;
  color: white;
}

.form-popup {
  background-color: white;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}